---
layout: base
title: Home
---
<section class="header">
	{% include nav.html %}
	<div class="landing container">
		<div class="landing-text" animation="fade-left" animation-time="1s">
			<h3 class="header-headline">{{ site.website.headline }}</h3>
			<p>{{ site.website.tagline }}</p>
			<div class="landing-button">
				<a href="{% link projects.html %}" class="link-button" animation="fade-right" animation-time="1.6s">Projects</a>
				<a href="{% link blogs/index.html %}" class="link-button" animation="fade-down" animation-time="1.5s">Blogs</a>
                <a href="https://tarun-bisht.github.io/portfolio" class="link-button" animation="fade-right" animation-time="1.7s">Resume</a>
			</div>
		</div>
	</div>
</section>

<section class="about">
	<div class="container">
		<h3 class="headline">About Me</h3>
		<div class="about-panel col-2">
			<div class="about-image" animation="fade-left" animation-time="1s">
				<img src="{% link {{site.blob_image}} %}" data-src="{% link assets/images/profile.jpg %}" alt="Tarun Bisht">
			</div>
			<div class="about-text" animation="fade-right" animation-time="1.1s">
				<h6>Hello Everyone, I am</h6>
				<h1>{{ site.author }}</h1>
				<h4>{{ site.about.tagline }}</h4>
				<p>{{ site.about.description }}</p>
				<div>
					<a href="{% link about.md %}" class="link-button">More Info</a>
					<a href="https://tarun-bisht.github.io/portfolio/" class="link-button">Resume</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services">
	<div class="container">
		<h3 class="headline">My Interest</h3>
		<div class="card" animation="fade-down" animation-time="1s">
			<div class="icon"><i class="fas fa-robot"></i></div>
			<div class="text">
				<h3 class="card-heading">Artificial Intelligence and Machine Learning</h3>
				<p class="card-body">My primary focus, willing to contribute to the advancement of AI through research and integrating AI solutions in applications.</p>
				<div class="post-tags">
					<ul>
						<li>Computer Vision</li>
						<li>Deep Learning</li>
						<li>Speech Recognition</li>
						<li>Object Detection</li>
						<li>Kaggle</li>
						<li>TensorFlow</li>
						<li>PyTorch</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card" animation="fade-down" animation-time="1s">
			<div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
			<div class="text">
				<h3 class="card-heading">Computer Science</h3>
				<p class="card-body">Educating about the different principles and domains in computer science and help to build concepts.</p>
				<div class="post-tags">
					<ul>
						<li>Automata</li>
						<li>Operating System</li>
						<li>DBMS</li>
						<li>Data Structures</li>
						<li>Algorithms</li>
						<li>Programming</li>
						<li>Computer Networks</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card" animation="fade-down" animation-time="1s">
			<div class="icon"><i class="fas fa-laptop-code"></i></div>
			<div class="text">
				<h3 class="card-heading">Programming and Developement</h3>
				<p class="card-body">Exploring and learning new technologies, ideas or concepts related to the application, game development and deliver learnings.</p>
				<div class="post-tags">
					<ul>
						<li>Web Development</li>
						<li>Game Development</li>
						<li>Python</li>
						<li>C#</li>
						<li>JavaScript</li>
						<li>Flask</li>
						<li>Django</li>
						<li>Configure Server</li>
						<li>Unity3D</li>
						<li>Inkscape</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card" animation="fade-down" animation-time="1s">
			<div class="icon"><i class="fas fa-atom"></i></div>
			<div class="text">
				<h3 class="card-heading">Physics</h3>
				<p class="card-body">Explore and learn different concepts, ideas in physics and deliver learnings through writing.</p>
				<div class="post-tags">
					<ul>
						<li>Quantum Physics</li>
						<li>Quantum Computing</li>
						<li>Astronomy</li>
						<li>Modern Physics</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="latest-blogs">
	<div class="container">
		<h3 class="headline">Latest Blogs</h3>
		{% for post in site.posts limit: 6 %}
			<div class="blog-card" animation="fade-left" animation-time="0.5s">
				<a class="card-link" href="{{ post.url }}">
					<article class="card-body">
						<div class="article-details">
							<h4 class="post-category">{{ post.category }}</h4>
							<h3 class="post-title">{{ post.title }}</h3>
							<p class="post-description">
								{% if post.description %}
									{{ post.description }}
								{% else %}
									{{ post.excerpt }}
								{% endif %}
							</p>
							<p class="post-author">By <b>{{site.author}}</b> on {{ post.date | date: "%B %-d, %Y" }}</p>
							<div class="post-tags">
								<ul>
									{% for tag in post.tags %}
										<li>{{tag}}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</article>
				</a>
			</div>
		{% endfor %}
	</div>
</section>

<section class="latest-works portfolio">
	<div class="container">
		<h3 class="headline">Latest Works</h3>	
	    <div class="filters">
	        <ul>
	            <li data-category="all">All Categories</li>
	            {% for category in site.projects_categories %}
	                <li data-category="{{ category }}">{{ category }}</li>
	            {% endfor %}
	        </ul>
	    </div>
	    <div class="col-3">
			{% assign projects = site.projects | reverse %}
	        {% for project in projects limit:6 %}
	            <div class="card" animation="fade-down" animation-time="0.5s" category="{{ project.category }}">
	                <img src="{% link {{site.blob_image}} %}" data-src="{{ project.icon }}" alt="{{ project.title }}">
	                <div class="card-text">
	                    <h3>{{ project.title }}</h3>
	                    <p>{{ project.category }}</p>
	                </div>
	                <a href="{{project.url }}"></a>
	            </div>
	        {% endfor %}
	    </div>
	</div>
</section>