<nav>
	<div class="logo"></div>
	<div class="menu-btn">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
    <ul class="menu">
        <li><a href="{% link index.html %}"> Home</a></li>
        <li><a href="{% link about.md %}"> About</a></li>
        <li><a href="{% link blogs/index.html %}"> Blogs</a></li>
        <li><a href="{% link projects.html %}">Projects</a></li>
        <li><a href="{% link cv.md %}">CV</a></li>
        <li><a href="{% link resume.md %}">Resume</a></li>
        <li><a href="{% link contact.html %}"> Contact</a></li>
        <li class="switch"><span></span><input type="checkbox" id="switch"/><label for="switch">Toggle</label></li>
	</ul>
</nav>