<!-- <link rel="canonical" href="https://tarunbisht.com{{ request.path }}" /> -->
<meta name="author" content={{ site.author }}>
<meta name="description" content="Tarun Bisht's Personal Website. Read blogs on python, artificial intelligence, machine learning, firebase and more topics like web developement, game developement. Try projects and get motivation, inspiration for your projects also hire me for your next project.">
<meta name="keywords" content="tarun, techblog, tech blogs, ai blog, mobile games, python, c#, java, django, style transfer, ai, ml, deep learning, artificial intelligence, machine learning, deep learning, ai projects, blogs, whatbreed, balance sky, litetweet, socialfeeds, pithoragarh, nainital, india, uttarakhand, games, unity">
