<section class="social">
    <ul animation="fade-down" animation-time="1s">
        <li><a href="{{ 'https://twitter.com/' | append: site.social.usernames.twitter }}"><i class="fab fa-twitter"></i></a></li>
        <li><a href="{{ 'https://www.instagram.com/' | append: site.social.usernames.instagram }}"><i class="fab fa-instagram"></i></a></li>
        <li><a href="{{ 'https://www.linkedin.com/in/' | append: site.social.usernames.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="{{ 'https://www.kaggle.com/' | append: site.social.usernames.kaggle }}"><i class="fab fa-kaggle"></i></a></li>
        <li><a href="{{ 'https://github.com/' | append: site.social.usernames.github }}"><i class="fab fa-github"></i></a></li>
        <li><a href="{{ 'https://medium.com/@' | append: site.social.usernames.medium }}"><i class="fab fa-medium-m"></i></a></li>
        <li><a href="{{ site.social.youtube }}"><i class="fab fa-youtube"></i></a></li>
    </ul>
</section>