---
layout: base
---

<section class="writing-header">
	<div class="header">
		{% include nav.html %}
	</div>
</section>

<section class="writing-body">
	<div class="container">
    	<div class="markdown-html">
			<h1 class="headline">{{ page.title }}</h1>
            {{ content }}
		</div>
		<div class="post-tags">
			<ul>
				{% for tag in page.tags %}
					<li>{{tag}}</li>
				{% endfor %}
			</ul>
		</div>
		{% if page.urls %}
		<div class="col-4 mt-3 mb-3">
			{% if page.urls.download %}
				<a class="link-button" href="{{ page.urls.download }}">Download Now <i class="fas fa-download"></i></a>
			{% endif %}
			{% if page.urls.live %}
				<a class="link-button" href="{{ page.urls.live }}">Live Demo <i class="fas fa-globe-asia"></i></a>
			{% endif %}
			{% if page.urls.github %}
				<a class="link-button" href="{{ page.urls.github }}">Github Source <i class="fab fa-github"></i></a>
			{% endif %}
			{% if page.urls.youtube %}
				<a class="link-button" href="{{ page.urls.youtube }}">Youtube Video <i class="fab fa-youtube"></i></a>
			{% endif %}
		</div>
		{% endif %}

		{% if page.comment %}
			{% include disqus.html %}
		{% endif %}
	</div>
</section>
